@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Shadows+Into+Light+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Rubik:wght@300&family=Shadows+Into+Light+Two&display=swap');


body{
    padding: 0;
    margin: 0;
    /* width: 100vh; */
   /* flex-direction: column; */
}
h1, h2, h3, h4, h5, p{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: white;
}

button{
    color: white;
    background-color: #e7272d;
    border: none;
    /* box-shadow: black; */

}
button:hover{
    background-color: #ffcc00;
    cursor: pointer;

}