.eight{
    display: flex;
    flex-direction: column;
}
.innerdiv > ul{
    align-items: center;
    padding: 0;
    
}
.innerdiv > ul li{
    /* justify-content: space-evenly; */
    margin-right: 5%;
    color: #e7272d;
}

.founder {
    padding: 50px 5%;
}
.innerdiv p{
    padding: 0;
}
.ninth{
    background-image: url("../mt-1781-home-parallax2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: flex-start;
    /* padding: 5%; */
}

.shipping h4{
    color: #ffcc00;
    font-size: 30px;
    font-family: 'Rubik', sans-serif;
    font-weight: 900;
    font-style: normal;
}
.shipping h2{
    color: #fff;
    font-size: 30px;
}
.shipping h6{
    color: #fff;
    font-size: 25px;
    
    margin-bottom: 0;
    margin-top: 30px;
    /* padding: 0; */
    
}
.shipping{
    padding: 5%;
}