.fifth{
    background-image: url("../mt-1781-home-testimonials-bg.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding-bottom: 5em;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
.two p{
    color: #ffcc00;
}

.two h2{
    color: #fff;
    /* margin-bottom: 20px; */
    padding-bottom: 1em;
}
.picture{
    display: flex;
    justify-content: space-evenly;
}
.tweets{
    display: flex;
    flex-direction: column;
    width: 30%;
    min-width: 300px;
    /* justify-content: space-evenly; */
}
.tweets > img{
    margin: 20px 0 20px 0;
}
.seventh {
    display: flex;
    justify-content: center;
    background-color: #e7272d;
}


@media screen and (max-width: 1000px){
    .same, .chef{
        flex-direction: column;
    }
    .second, .picture{
        
        flex-wrap: wrap;
    }
    .second > div{
        width: 50%;
        /* flex-basis: 1; */
    }
    .tweets{
        min-width: 300px;
    }
    .pics{
        margin-left: 30px;
    }
   
    .recipie{
    flex-direction: row;
    flex-wrap: wrap;
    /* flex-basis: 50%; */
    
    }
    .pie > img{
        min-width: 300px;
    }
@media screen and (max-width: 850px){
    .second > div, .seventh{
        width: 100%;
    
    }
    .images, .picture{
        flex-wrap: wrap;
        /* width: 100%; */
    }
    .innerimage, .tweets {
        width: 50%;
    }
    /* .picture{
       flex-wrap: wrap;
    
    } */
    .pie > img{
        min-width: 300px;
    }
    
}
@media screen and (max-width: 400px){
    
    .innerimage, .tweets {
        width: 100%;
    }
}