.fourth{
    display: flex;
    flex-direction: column;
    padding: 0 5% 100px 5%;
}
.menu{
    /* justify-content: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}
.menu p{
    font-weight: 400;
    font-style: normal;
    font-family: 'Shadows Into Light Two', handwriting;
    font-size: 30px;
    line-height: 1.6;
    letter-spacing: 1px;
    color: #e7272d;
}
.menu h2{
    color: black;
}
.two a{
    color: black;
}

.images{
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}
.innerimage {
    width: 23%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
}
.innerdiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 0;
    padding: 0; */
}
.innerdiv p{
    font-weight: 300;
    font-style: normal;
    font-family: 'Rubik', sans-serif;
    color: #6d6a6a;
    font-size: 15px;
    line-height: 1.4;
    letter-spacing: 0px;
    padding: 20px 0; 
    text-align: center;

}
.innerdiv h6{
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
    font-style: normal;
}
.innerdiv h2{
    font-size: 25px;
    font-family: 'Arvo', serif;
    font-weight: 700;
    padding: 20px 0; 
    color: #e7272d;
    /* font-style: normal; */
}                                