
ul{
    display: flex;
    /* justify-content: space-between; */
    /* background-color: white; */
    text-align: right;
    list-style: none;
}
.lists li{
    /* list-style: none; */
    margin: 20px;
    font-family: 'Arvo', serif;
    /* font-size: small; */
}

.button{
    width: 200px;
    height: 50px;
    /* margin-bottom: 20px; */
}
.buy{
    margin-left: 50px;
    margin-bottom: 300px;
    margin-top: 200px;
}

.buy p{
    font-weight: 400;
    font-style: normal;
    font-family: 'Shadows Into Light Two', handwriting;
    font-size: 30px;
    line-height: 1.6;
    letter-spacing: 1px;
}

.header{
    background-image: url("../mt-1781-home-testimonials4.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    /* height: 100vh; */
}

.same{
    display: flex;
    /* flex-basis: 50%; */
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0;
}

.social{
    margin-right: 0;
} 

.topheader{
    justify-content: space-around;
    /* margin: 20px 0; */
}
.logo{
    display: flex;
    align-items: center;
   
}
.burgericon{

    margin-right: 20px;
}
.eateryname{
    font-style: normal;
    font-family:  'Arvo', serif;
    
}
.facebook:hover{
    background-color: rgb(233, 147, 19) ;
    border-radius: 100px;
    
}

