
.second{
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    padding-right: 50px;
    padding-left: 50px;
}
/* .second > div{
    width: 30%;

} */
.second > div:nth-child(2){
    padding-top: 100px;
}
.second > div:nth-child(1){
    padding-top: 10px;
    /* background-image: url("../mt-1781-home-chef.jpg");
    background-repeat: no-repeat;
    background-size: contain; */
}
.second > div:nth-child(3){
    /* padding-top: 10px; */
    background-color: #000;
    background-image: url("../mt-1781-home-knife.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 19em ;
    margin-bottom: 30px;
}

.second > div h3{
    font-weight: 700;
    font-style: normal;
    font-family: 'Arvo', serif;
    color: #000000;
    font-size: 50px;
    /* line-height: 1.2; */
    letter-spacing: 0px;
}
    

.second > div p{
    font-weight: 500;
    font-style: normal;
    font-family: 'Rubik', sans-serif;
    color: #6d6a6a;
    font-size: 15px;
    line-height: 1.4;
    letter-spacing: 0px;
    padding-top: 20px;
}
.second > div h4{
    font-weight: 700;
    font-style: normal;
    font-family: 'Arvo', serif;
    color: #fff;
    font-size: 30px;
    /* line-height: 1.2; */
    letter-spacing: 0px;
    /* padding: 40px; */
    margin-bottom: 10px;
}

.form{
    padding: 40px;
    
}
.form > input{
    margin-bottom: 10px;
    /* margin-right: 10px; */
    padding: 10px;
    width: 90%;
    
}

.second > div h5{
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    color: #6d6a6a;
}

.form > button{
    width: 100%;
    height: 50px;
    margin-top: 10px;
    font-weight: 700;
}