.footer{
    background-color: #000;
    position: relative;
    margin: 0;
}
.same > div p{
    color: #fff;
}
.map{
    background-image: url("../vt(1).jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* min-width: 500px; */
}
.contact{
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}
.contactus{
    display: flex;
    justify-content: space-around;
    padding: 50px 10%;
    flex-wrap: wrap;
}
.fill{
    flex-basis: 30%;

}
.fill >input{
    width: 500px;
    height: 40px;
    margin-bottom: 20px;
    background-color: #e2e1e1;
    border: none;
    padding: 5px;
}
.fill > button{
    width: 500px;
    height: 50px;
    margin-bottom: 0;
}
.location{
    /* padding: 5% ; */
    margin: 20px;

}
.map > img{
        align-items: flex-end;
        min-width: 500px;
}
.location > textarea{
    background-color: #e2e1e1;
    border: none;
    width: 505px;
}