.sixth{
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}
.chef{
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
}
.notes{
    display: flex;
    flex-direction: column;
    /* align-items: stretch; */
    flex-basis: 40%;
}
/* .recipie{
     flex-wrap: nowrap; 
}  */

.notes p{
    font-weight: 500;
    font-style: normal;
    font-family: 'Rubik', sans-serif;
    color: #6d6a6a;
    font-size: 15px;
    line-height: 1.4;
    letter-spacing: 0px;
    /* padding-top: 20px; */
}
.notes h4{
    font-weight: 700;
    font-style: normal;
    font-family: 'Arvo', serif;
    color: #000;
    font-size: 30px;
    /* line-height: 1.2; */
    letter-spacing: 0px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.notes h6{

    font-weight: 900;
    font-style: normal;
    font-family: 'Rubik', sans-serif;
    color: #000;
    background-color: #e2e1e1;
    font-size: 18px;
    /* line-height: 1.4; */
    letter-spacing: 0;
    padding: 10px 20px;
    margin: 20px 0;
    
}
.notes h6:hover{
    background-color: #ffcc00;
}
.recipie{
    justify-content: space-evenly;
}