h1, h2{

    font-weight: 700;
    font-style: normal;
    font-family: 'Arvo', serif;
    color: #ffcc00;
    font-size: 53px;
    line-height: 1.2;
    letter-spacing: 0px;
}

.third{
    background-image: url("../mt-1781-home-parallax1.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding-left: 40em;
    display: flex;
    justify-content: flex-end;
    /* height: 100vh; */
}

.snackmenu{
    padding-top: 100px;
    padding-right: 60px;
    padding-bottom: 100px;
}
.snackmenu p{
    font-weight: 400;
    font-style: normal;
    font-family: 'Shadows Into Light Two', handwriting;
    color: white;
    font-size: 30px;
    line-height: 1.6;
    letter-spacing: 1px;
}


.snackmenu h6{

    font-weight: 600;
    font-style: normal;
    font-family: 'Rubik', sans-serif;
    color: #ffffff;
    font-size: 23px;
    line-height: 1.4;
    letter-spacing: 0px;
} 
button {
    width: 200px;
    height: 60px;
    margin-top: 10px;
    font-weight: 700;
    margin-bottom: 30px;
}